<%- include('./partials/header.ejs') %>

    <%- include('./partials/navbar.ejs') %>

        <div class="container">
            <div class="row mt-5">

                <h1>Home Page</h1>
                <hr>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ullam quos sequi excepturi
                    reiciendis laudantium cum consectetur non sapiente inventore eos quibusdam, similique reprehenderit
                    ipsa eum tempore obcaecati aliquid? Et. Lorem, ipsum dolor sit amet consectetur adipisicing elit. A
                    unde ab enim veritatis ea quos? Vitae pariatur voluptatum similique inventore impedit exercitationem
                    aliquam aut illum atque, ad tempora voluptatibus quibusdam!
                    Necessitatibus, illum sint? Neque ducimus maxime temporibus iure at cum, expedita nesciunt maiores
                    quasi veniam, exercitationem dolores magni delectus saepe eos ea. Nihil officia voluptatum
                    necessitatibus et animi ab id.</p>

            </div>
        </div>

        <%- include('./partials/footer.ejs') %>